text {
  font-family: sans-serif;
  font-size: 0.7em;
  fill:rgb(50%,50%,50%);
  fill-opacity:1;
}

text.heading {
  fill: rgb(0%,0%,0%);
}

line {
  fill:none;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  stroke-miterlimit:10;
  stroke:rgb(0%,0%,0%);
}

.box {
  stroke:none;
  fill-rule:nonzero;
  fill-opacity:1;
}

.low {    fill:rgb(0%,39.099121%,66.999817%); }
.medium { fill:rgb(19.999695%,70.399475%,91.999817%); }
.high {   fill:rgb(89.99939%,95.199585%,100%); }

.box {
  width:5.519531px;
  height:4.335938px;
}

.column {
  fill:rgb(0%,62.998962%,89.99939%);
  width: 20.09375px;
}

.row {
  height: 20.093750px;
}

.categoryAverageLine {
  stroke-width:0.5;
  stroke-dasharray:0.75,1;
}

.categoryAverageHyphen {
  stroke-width:0.25;
}

.categoryAverageLabel {
	font-size:0.37em;
	fill: rgb(59.999084%,59.999084%,59.999084%);
}

.seperator {
  stroke-width:0.3;
  stroke:rgb(59.999084%,59.999084%,59.999084%);
}

.characteristics {
  font-size:0.55em;
}

.resultLabel {
  writing-mode: tb;
  font-size:0.55em;
}

.subCharacteristics {
  font-size: 0.3em;
}