@import "./common";
@import "@material/image-list/mdc-image-list";
@import "@material/typography/mdc-typography";

.product-list {
  @include mdc-image-list-masonry-columns(2);

  overflow: auto;
  padding: 80px 100px 0;

  .mdc-image-list__supporting {
    justify-content: center;
  }

  .mdc-image-list__item {
    padding: 10px;
  }

  .mdc-image-list__label {
    @include mdc-typography(subtitle2);
  }
}

@media(max-width: 768px) {
  .product-list {
    @include mdc-image-list-masonry-columns(1);
    padding: 0;
  }
}
